.main_chat {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;
  float: left;
  &__group-info {
    box-sizing: border-box;
    height: 100px;
    margin: 0px 40px;
    display: flex;
    justify-content: space-between;
    &__group_box {
      margin-top: 35px;
      &__group-name {
        font-size: 20px;
        color: #333333;
        // margin-bottom: 15px;
      }
      &__member-list {
        font-size: 12px;
        margin-top: 15px;
        color: #999999;
        display: flex;
      }
    }
    &__edit-box {      
      height: 40px;
      margin-top: 28px;
      padding: 0px 20px;
      border: solid 1px #38aef0;
      line-height: 40px;
      position: absolute;
      right: 40px;
      a {
        color: #38aef0;
        text-decoration: none;
      }
    }
  }
  &__message-list {
    overflow: scroll;
    height: calc( 100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px;
    .message{
      padding-bottom: 46px;
      .upper-message {
        display: flex;
        margin-bottom: 12px;
        &__user-name {
          font-size: 16px;
          color: #333333;
        }
        &__date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      .lower-message {
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: #38aef0;
      border: none;
      color: white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}


