.main_chat {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;
  float: left;
  &__group-info{
    height: 100px;
    margin: 0px 40px;
    display: flex;
    justify-content: space-between;
    &__group_box {
      margin-top: 35px;
      &__group-name {
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      &__member-list {
        font-size: 12px;
        color: #999999;
        display: flex;
      }
    }
    &__edit-box {      
      height: 40px;
      margin-top: 28px;
      padding: 0px 20px;
      border: solid 1px #38aef0;
      line-height: 40px;
      position: absolute;
      right: 40px;
      a {
        color: #38aef0;
        text-decoration: none;
      }
    }
  }
  &__message-list {
    height: calc( 100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px;
    &__box {
      padding-bottom: 46px;
      &__data {
        display: flex;
        margin-bottom: 12px;
        &__user-name {
          font-size: 16px;
          color: #333333;
        }
        &__date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      &__text {
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    &__new-message {
      width: 100%;
      height: 50px;
      // background-color: #fafafa;
      padding: 0px 40px 0px 10px;
      position: relative;
      display: flex;
      .input-box-text {        
        height: 50px;          
        width: 1300px;
        border-style: none;
        color: #434a54;
        font-size: 20px;                  
      }
      .input-box-image {
        font-size: 1.3rem;        
        position: absolute;
        top: 15px;
        right: 155px;
        &__file {
        display: none;
        }
      }
    }
    .send-btn {
      background-color: #38aef0;
      color: #fafafa;
      height: 50px;
      width: 120px;
      margin-left: 15px;
    }
  } 
}


